@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
body {
    margin :0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.main {
    padding:40px
}
.cartIcon {
    position: fixed;
    top: 10px;
    right: 140px;
    cursor:pointer;
    z-index: 100;
    background: yellow;
}
aside {
    width:460px;
    margin : 20px;
}
.itemCart {
    display:flex;
    justify-content: space-between;
}
.itemCart img{
    max-width: 80px;
    object-fit: cover;
    margin-left: 40px;
}
.itemCart div{
    flex : 1
}
.itemInfo {
    display: flex;
    justify-content : space-between
}
.buttons {
    display:flex;
    justify-content : space-between
}
